@import "primeicons/primeicons.css";
@import "./components.scss";
@import "./layout.scss";
@import "./font.scss";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;

    @layer utilities {
        .ltr {
            direction: ltr;
        }

        .rtl {
            direction: rtl;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

html{
    @apply text-sm;
}

*::-webkit-scrollbar {
    @apply w-1 h-1;
}

*::-webkit-scrollbar-track {
    @apply rounded-md bg-primary-100;
}

*::-webkit-scrollbar-thumb {
    @apply rounded-md bg-primary;
}

button{
    @apply ltr;
}